html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: Uni Neue Heavy Italic;
  src: url(/assets/fonts/UniNeueHeavy-Italic.otf);
}

@font-face {
  font-family: Uni Neue;
  src:url(/assets/fonts/UniNeueRegular.otf);
}

@font-face {
  font-family: Slabo;
  src:url(/assets/fonts/Slabo27px-Regular.ttf)
}

body {
  font-family: Uni Neue Heavy Italic;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  
}
body a {
  color: #729e2e;
}
/* Header */

.encabezado {
  background: #38353f;
  position: relative;
  z-index: 10;
}
.encabezado .navbar .navbar-toggler {
  margin-right: 20px;
}
.encabezado .navbar .navbar-collapse .navbar-nav {
  background: #e6e5e5;
}
.nav-item a {
  color: #e9501d;
}
.encabezado .navbar .navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background: #38353f;
}
.encabezado .navbar .navbar-collapse .navbar-nav .nav-item a {
  font-family: Uni Neue Heavy Italic, Helvetica, Arial, sans-serif;
  color: #38353f;
  font-size: 18px;
  padding: 5px ;
}
.encabezado .navbar .navbar-collapse .navbar-nav .dropdown-divider {
  border-top: 1px solid #4d4d4d;
}
.encabezado .navbar .navbar-collapse .navbar-nav .dropdown-menu.show .nav-link {
  color: #38353f;
  padding: 10px 10px;
}
.dropdown-menu {
  width: 300px !important;
  
}

.top-redes {
  float: left;
}
.top-redes ul li {
  list-style-type: none;
}
.top-redes ul {
  display: flex;
  flex-wrap: wrap;
  height: 55px;
  justify-content: space-between;
  line-height: 55px;
  margin: 0;
  padding: 0;
}
.top-redes ul li a {
  color: #1d1d1b;
  font-size: 24px;
  padding: 0 10px;
  text-decoration: none;
}


a {
  text-decoration: none;
}
p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}


/* Body */
.hero-banner-img {
  height: 500px;
  margin: 0;
  position: relative;
}
.hero-banner-img img {
  height: 500px;
  object-fit: cover;
  width: 100%;
}
.hero-banner-img .hero-banner-caption{
  color: #fff;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  top: 2rem;
  text-align: center;
  width: 100%;
}
.t-uni-heavy-italic {
  font-family: Uni Neue Heavy Italic, Helvetica, Arial, sans-serif;
}
.hero-banner-img .hero-banner-caption h1.t-uni-heavy-italic {
  font-size: 24px;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px black;
}
.hero-banner-img .hero-banner-caption .p-uni-regular {
  font-size: 16px;
  text-shadow: 1px 1px 1px black;
}



.cursos-home {
  margin-top: 0;
}
.cursos-home {
  background: url(/assets/home/fondo-cursos-disponibles-2f6f18bc2f9df767ae8f4919b95f313bf2eb6648a438c1b124b1043824465467.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/*Seccion unete cursos*/
.unete-cursos {
  padding: 40px 0;
}

.bg-na {
  background: #e9501d;
}
.bg-ne {
  background: #1d1d1b;
}
.bg-ve-o {
  background: #073b3a;
}
.bg-ce {
  background: #009ee3;
}
.unete-cursos .unete-cursos-content {
  margin: 0 auto;
  max-width: 600px;
  padding: 30px 0;
  position: relative;
}
.unete-cursos .unete-cursos-left p {
  color: #fff;
  font-size: 24px;
  margin: 0;
  text-align: center;
  text-decoration: underline;
  min-height: 40px;
}
.unete-cursos .unete-cursos-right {
  margin-top: 30px;
  text-align: center;
}
.unete-cursos .unete-cursos-right a{
  font-family: Uni Neue Heavy Italic, Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 0;
  padding: 15px 20px;
  text-align: center;
}

.p-uni-heavy-italic {
  font-family: Uni Neue Heavy Italic, Helvetica, Arial, sans-serif;
}
.p-uni-regular {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.btn-b-na{
  background: #fff;
  color: #e9501d;
  display: inline-block;
  font-family: Uni Neue Heavy Italic, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 30px;
  text-decoration: none;
  text-align: center;
}

/* Seccion cursos home */

.cursos-home {
  background: url(/assets/img/home/fondo-cursos-disponibles.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
}
.cursos-home h2.t-uni-italic {
  font-size: 46px;
  padding: 30px 0;
  text-align: center;
}
.cursos-home h2.t-uni-italic code {
  font-family: "UniNeueHeavy-Italic", Helvetica, Arial, sans-serif;
  color: #fff;
}
.cursos-home .cursos-home-content {
  height: auto;
  margin-bottom: 30px;
  padding: 30px;
  text-align: center;
}
.bg-am {
  background: #e2a30b;
}
.cursos-home .cursos-home-content .t-uni-heavy-italic {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}
.cursos-home .cursos-home-content p {
  color: #fff;
  font-size: 16px;
}
.cursos-home .cursos-home-content a {
  color: #fff;
  font-family: "UniNeueHeavy-Italic", Helvetica, Arial, sans-serif;
  font-size: 30px;
}
/* Hero-menu */
.hero-menu{
  text-align: center;
}
.hero-menu ul{
  padding: 0;
}
.hero-menu ul li{
  list-style-type: none;
}
.hero-menu ul li a {
  font-family: Uni Neue Heavy Italic, Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 24px;
}
.hero-menu ul li a:hover{
  color: #009ee3;
  text-decoration: none;
}

/*Footer*/

footer {
  background: #38353f;
}

footer .footer-logo {
  background: #fff;
  height: 55px;
  text-align: center;
}

footer .footer-logo img {
  background: white;
  padding: 20px;
  max-width: 80%;
}

footer .footer-content {
  padding: 80px 30px;
}

footer .footer-content h3 {
font-family: Uni Neue Heavy Italic, Helvetica, Arial, sans-serif;
font-size: 24px;
color: #009ee3;
margin-top: 30px;
margin-bottom: 30px; 
}

footer .footer-content h4 {
  font-family: Uni Neue Heavy Italic, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #ffffff;
}


.bla {
  color: #fff;
}
footer .footer-content span {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #fff;
}
footer .footer-partners a.mailto {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
footer .footer-content .footer-menu a {
  font-size: 18px;
}
footer .footer-content .footer-menu ul {
  padding: 0;
}
footer .footer-content .footer-menu ul li {
  list-style-type: none;
}

footer .footer-content .footer-menu ul li a{
  font-family: Uni Neue Heavy Italic, Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 14px;
  
}

footer .footer-content .footer-menu ul li a:hover {
  color: #009ee3;
  text-decoration: none;
}

footer .footer-partners a:hover {
  color: #009ee3;
  text-decoration: none;
}

footer .dropdown-divider {
  border: solid 1px #009ee3;
  margin: 15px 0;
}
.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}
footer .footer-content .footer-redes {
  margin-top: 20px;
}
footer .footer-content .footer-redes ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
}

footer .footer-content .footer-redes ul li {
  display: inline-block;
  list-style-type: none;
  font-size: 30px;
  margin-right: 10px;
}
footer .footer-content .footer-menu ul li a {
  font-family: Uni Neue Heavy Italic, Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 14px;
}
footer .footer-content .footer-redes ul li a i {
  color: #009ee3;
  font-size: 30px;
}
footer .footer-content .footer-redes ul li a i:hover {
  color: #fff;
  font-size: 30px;
 
}



/* MediaQueries */

@media only screen and (min-width: 768px){
.hero-banner-img .hero-banner-caption h1.t-uni-heavy-italic {
  font-size: 46px;
}
}
@media only screen and (min-width: 768px){
.hero-banner-img .hero-banner-caption .p-uni-regular {
  font-size: 24px;
}
}

@media only screen and (min-width: 992px){
.encabezado .navbar .navbar-collapse .navbar-nav .nav-item a {
  padding: 0;
  color: #fff;
}
}

@media only screen and (min-width: 992px){
.encabezado .navbar .navbar-collapse .navbar-nav .nav-item a:hover {
  color: #729e2e;
}
}
@media only screen and (min-width: 992px){
.encabezado .navbar .navbar-collapse .navbar-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-left: 20px;
  background: #38353f;
}
}

@media only screen and (min-width: 768px){
.unete-cursos .unete-cursos-content .unete-cursos-left p {
  text-align: left;
}
}
@media only screen and (min-width: 768px){
.unete-cursos .unete-cursos-content .unete-cursos-right {
  margin-top: 10px;
}
}
@media only screen and (min-width: 768px){
.unete-cursos .unete-cursos-content:before {
  content: url(/assets/img/home/llave-left.png);
  height: 122px;
  left: -50px;
  position: absolute;
  top: 0;
  width: 46px;
}
}
@media only screen and (min-width: 768px){
  .btn-b-na{
      font-size: 21px;
  }
  
}
@media only screen and (min-width: 768px){
.unete-cursos .unete-cursos-content:after {
  content: url(/assets/img/home/llave-right.png);
  height: 122px;
  position: absolute;
  right: -50px;
  top: 0;
  width: 46px;
}
}
@media only screen and (min-width: 768px){
.cursos-home {
  margin-top: 0;
}
}
@media only screen and (min-width: 768px){
.cursos-home .cursos-home-content {
  height: 350px;
  margin-bottom: 30px;
  text-align: left;
}
}

/* ESTILOS SECCION UNETE CURSOS HOME - PAGINA HOME*/
.unete-cursos {
padding: 40px 0;
}
.unete-cursos .unete-cursos-content {
margin: 0 auto;
max-width: 600px;
padding: 30px 0;
position: relative;
}
.unete-cursos .unete-cursos-left .p-uni-italic {
font-size: 24px;
text-decoration: none;
}
.unete-cursos .unete-cursos-left p {
color: #fff;
font-size: 24px;
margin: 0;
text-align: center;
text-decoration: underline;
min-height: 40px;
}
.unete-cursos .unete-cursos-right {
margin-top: 30px;
text-align: center;
}
.unete-cursos .unete-cursos-right a {
font-family: "UniNeueHeavy-Italic", Helvetica, Arial, sans-serif;
font-size: 24px;
margin: 0;
padding: 15px 20px;
text-align: center;
}

@media only screen and (min-width: 768px) {
.unete-cursos .unete-cursos-content:before {
  content: url("/assets/img/home/llave-left.png");
  height: 122px;
  left: -50px;
  position: absolute;
  top: 0;
  width: 46px;
}
.unete-cursos .unete-cursos-content:after {
  content: url("/assets/img/home/llave-right.png");
  height: 122px;
  position: absolute;
  right: -50px;
  top: 0;
  width: 46px;
}
.unete-cursos .unete-cursos-content .unete-cursos-left p {
  text-align: left;
}
.unete-cursos .unete-cursos-content .unete-cursos-right {
  margin-top: 10px;
}
.unete-cursos .unete-cursos-content .unete-cursos-right a code {
  font-family: "UniNeueHeavy-Italic", Helvetica, Arial, sans-serif;
}
}


